body {
  width: 100%;
  overflow-x: hidden;
  font-family: "League Spartan", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[data-theme="theme-1"] {
  --background: #3b4664;
  --title-text: #feffff;
  --theme-switch-text: #feffff;
  --theme-switch: #95271b;
  --display-background: #171f32;
  --display-number: #feffff;
  --keypad-background: #262c42;
  --number-key-background: #e8e4db;
  --number-key-text: #47506c;
  --number-key-shadow: #aea39d;
  --del-reset-key-background: #647299;
  --del-reset-key-text: #fff6ed;
  --del-reset-key-shadow: #424e74;
  --equals-key-background: #d03f30;
  --equals-key-text: #fff6ed;
  --equals-key-shadow: #95271b;
}
// [data-theme="theme-2"] {
// }
// [data-theme="theme-3"] {
// }
