@use "./variables.scss" as *;

// Media Query

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

// Typography

@mixin display-text {
  color: var(--display-number);
  font-size: $display;
  font-weight: $bold;
  @include desktop {
    font-size: $display-desktop;
  }
}

@mixin number-key-text {
  color: var(--number-key-text);
  font-size: $number-key;
  font-weight: $bold;
  @include desktop {
    font-size: $number-key-desktop;
    font-weight: $bold;
  }
}

@mixin toggle-text {
  color: var(--theme-switch-text);
  font-size: $toggle;
  font-weight: $semi-bold;
  letter-spacing: 1px;
}
