// Border Radius

$border-radius-1: 10px;
$border-radius-2: 5px;

// Font Weights

$bold: 700;

// Font Sizes

$logo: 1.75rem;
$display: 2.5rem;
$number-key: 2rem;
$del-reset: 1.25rem;

// Box Shadows

$number-key-shadow: 0px 4px var(--number-key-shadow);
$del-reset-key-shadow: 0px 4px var(--del-reset-key-shadow);
$equals-key-shadow: 0px 4px var(--equals-key-shadow);
