// Break points

$desktop: 1024px;

// Border Radius

$border-radius-1: 10px;
$border-radius-2: 5px;
$border-radius-3: 5rem;
$border-radius-4: 10px;

// Font Weights
$semi-bold: 500;
$bold: 600;

// Font Sizes

$toggle: 0.75rem;
$logo: 1.75rem;
$display: 2.5rem;
$display-desktop: 3.5rem;
$number-key: 2rem;
$number-key-desktop: 2.5rem;
$del-reset: 1.25rem;
$del-reset-desktop: 1.75rem;

// Box Shadows

$number-key-shadow: 0px 4px var(--number-key-shadow);
$del-reset-key-shadow: 0px 4px var(--del-reset-key-shadow);
$equals-key-shadow: 0px 4px var(--equals-key-shadow);
