@use "../../styles/variables.scss" as *;

.display {
  margin: 2rem 0 1.5rem 0;
  height: 5rem;
  background-color: var(--display-background);
  border-radius: $border-radius-1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem;
  &__number {
    color: var(--display-number);
    font-size: $display;
  }
}
