@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.toggle {
  display: flex;
  gap: 2rem;
  align-items: flex-end;
  &__container {
    &--left {
      display: flex;
    }
    &--right {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &--numbers {
      display: flex;
      gap: 0.75rem;
    }
    &--switch {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background-color: var(--keypad-background);
      padding: 5px;
      border-radius: $border-radius-3;
    }
  }
  &__label {
    @include toggle-text;
  }
  &__number {
    @include toggle-text;
  }
  &__button {
    height: 0.9rem;
    width: 0.9rem;
    background-color: var(--theme-switch);
    border-radius: $border-radius-1;
  }
}

[data-active="false"] {
  background-color: var(--keypad-background);
}
