@use "./styles/global.scss" as *;
@use "./styles/mixins.scss" as *;
@use "./styles/variables.scss" as *;

.home {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 20.5rem;
  margin: 2rem auto;
  @include desktop {
    width: 34rem;
    margin: 6rem auto;
  }
  &__container {
    &--top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
  &__logo {
    color: var(--title-text);
    font-size: $logo;
  }
  &__small-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  &__big-keys {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
