@use "./styles/global.scss" as *;
@use "./styles/variables.scss" as *;

.home {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
}

.calculator {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 20.5rem;
  margin-left: auto;
  margin-right: auto;
  &__container {
    &--top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__logo {
    color: var(--title-text);
    font-size: $logo;
  }
  &__keypad {
  }
  &__small-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  &__big-keys {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
