.home {
  width: 100vw;
}

.calculator {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  &__container {
    &--top {
      width: 100%;
    }
  }
  &__logo {
  }
  &__keypad {
  }
  &__small-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  &__big-keys {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
