@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

button {
  padding: 0 0 0 0;
}

.key {
  @include number-key-text;
  height: 3.7rem;
  width: 100%;
  min-width: 3.7rem;
  display: flex;
  flex-direction: column;
  padding-top: 7px;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius-2;
  background-color: var(--number-key-background);
  box-shadow: $number-key-shadow;
  &:active {
    background-color: var(--number-key-background-active);
  }
  @include desktop {
    width: 100%;
    border-radius: $border-radius-4;
  }
}
